/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import './swiper.min.css';
@import './bootstrap-grid.min.css';

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/light/Mulish-Light.eot');
  src: url('../fonts/light/Mulish-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/light/Mulish-Light.woff2') format('woff2'),
      url('../fonts/light/Mulish-Light.woff') format('woff'),
      url('../fonts/light/Mulish-Light.ttf') format('truetype'),
      url('../fonts/light/Mulish-Light.svg#Mulish-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}



@font-face {
  font-family: 'Mulish';
  src: url('../fonts/regular/Mulish-Regular.eot');
  src: url('../fonts/regular/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/regular/Mulish-Regular.woff2') format('woff2'),
      url('../fonts/regular/Mulish-Regular.woff') format('woff'),
      url('../fonts/regular/Mulish-Regular.ttf') format('truetype'),
      url('../fonts/regular/Mulish-Regular.svg#Mulish-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('../fonts/medium/Mulish-Medium.eot');
  src: url('../fonts/medium/Mulish-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/medium/Mulish-Medium.woff2') format('woff2'),
      url('../fonts/medium/Mulish-Medium.woff') format('woff'),
      url('../fonts/medium/Mulish-Medium.ttf') format('truetype'),
      url('../fonts/medium/Mulish-Medium.svg#Mulish-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
*{
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body{
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
}

body.overflowed {
  overflow-y: hidden;
}
/*general style*/
:root{
  --primaryColor: #1F1534;
  --secondaryColor: #7D7987;
  --primaryBlue: #458FF6;
  
/*  Transition time*/
  --time: 0.2s;
  
/*  Shadow*/
  --shadow: 10px 40px 50px rgba(229,233,246, 0.5);
}

.has-bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fw-light{
  font-weight: 300;
}
.fw-medium{
  font-weight: 500;
}
.fw-bold{
  font-weight: bold;
}
.lh-20{
  line-height: 20px;
}
.lh-24{
  line-height: 24px;
}
.lh-26{
  line-height: 26px;
}
.lh-30{
  line-height: 30px;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-white{
  color: #fff;
}
.section{
  padding-top: 50px;
  padding-bottom: 50px;
}
.title{
  position: relative;
  font-size: 36px;
  color: #000;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 30px;
}
.title.title-center{
  text-align: center;
}
.title-line{
  padding-bottom: 15px;
}
.title.title-line::before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 2px;
  width: 50px;
  background-color: #000;
}
.title-center.title-line::before{
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.title-white{
  color: #fff;
}
.title.title-white::before{
  background-color: #fff;
}

.title-text{
  max-width: 850px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

}
.title-text.title-text-left{
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  max-width: 100%;
}

.button-default{
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--primaryBlue);
  color: #fff;
  border-radius: 50px;
  margin: 5px 0;
  font-size: 18px;
  min-width: 200px;
  text-align: center;
  font-weight: 500;
}
.button-default.button-outlined{
  border: 2px solid var(--primaryBlue);
  background-color: #fff;
  color: var(--primaryBlue) !important;
}

@-webkit-keyframes puls{
  to{
    -webkit-box-shadow: 0 0 0 12px rgba(69,143,246, 0);
            box-shadow: 0 0 0 12px rgba(69,143,246, 0);
  }
}

@keyframes puls{
  to{
    -webkit-box-shadow: 0 0 0 12px rgba(69,143,246, 0);
            box-shadow: 0 0 0 12px rgba(69,143,246, 0);
  }
}
/*general style*/


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 11;
  border-bottom: 1px solid #F0F3F6;
}
.header .header-logo{
  padding-top: 10px;
  padding-bottom: 10px;
}
header .menu-link{
  margin-left: 20px;
  padding: 25px 3px;
  color: var(--primaryColor);
  opacity: 0.5;
  -webkit-transition: opacity var(--time);
  -o-transition: opacity var(--time);
  transition: opacity var(--time);
  font-size: 18px;
  font-weight: 500;
}
header .menu-link.active{
  opacity: 1;
}
.main-banner{
  background-image: url('../images/pattern.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 10%;
}
.main-banner .banner-box{
  padding: 220px 0;
  background-position: 100% center;
  background-size: auto;
  background-repeat: no-repeat;
}
.main-banner .banner-box h1{
  font-size: 48px;
  margin-bottom: 30px;
}
.main-banner .banner-box p{
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 20px;
  color: var(--secondaryColor);
}
.service-section{
  background-image: url('../images/vector1.svg'), url('../images/pattern.svg');
  background-size: auto, auto;
  background-position: 0 center, calc(100% - 70px) center;
  background-repeat: no-repeat;
}
.service-group > div{
  margin-bottom: 30px;
}
.service-group .service-item{
  padding: 40px 30px;
  background-color: #fff;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 10px;
  height: 100%;
}
.service-item .service-image{
  min-height: 95px;
  margin-bottom: 15px;
}
.service-item .service-item-title{
  font-size: 24px;
  margin-bottom: 15px;
  color: #000;
  font-weight: 700;
}
.service-item .service-item-text{
  color: var(--secondaryColor);
  line-height: 28px;
}
.info-section{
  background-image: url('../images/pattern.svg');
  background-size: auto;
  background-position: 100% center;
  background-repeat: no-repeat;
}
.info-row{
  margin-top: 70px;
}

.info-row .info-content{
  padding-top: 30px;
}

.info-image img{
  display: block;
  width: auto;
  max-width: 100%;
}
.info-content .info-text{
  line-height: 30px;
  color: var(--secondaryColor);
  margin-bottom: 20px;
}

.feedback-section{
  background-image: url('../images/pattern.svg');
  background-size: auto;
  background-position: 50px center;
  background-repeat: no-repeat;
}

.feedback-area{
  background-image: url('../images/pattern2.svg'),-o-linear-gradient(75deg, #5A98F2, #67C3F3);
  background-image: url('../images/pattern2.svg'),linear-gradient(15deg, #5A98F2, #67C3F3);
  background-size: auto, auto;
  background-position: calc(100% + 50px) -20px, 0;
  background-repeat: no-repeat;
  border-radius: 24px;
  padding: 40px 0;
}
.feedback-slider{
  padding: 30px 100px;
}
.feedback-item .feedback-user{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback-item .feedback-image{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 15px;
}

.feedback-item .feedback-user-info .user-name{
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
  color: #fff;
}
.feedback-item .feedback-user-info .user-position{
  font-size: 18px;
  color: #fff;
}
.feedback-item .feedback-text{
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}
.feedback-navigation{
  padding: 10px 0;
}

.feedback-navigation .swiper-pagination{
  position: relative;
  padding: 10px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedback-navigation .swiper-nav-button{
  cursor: pointer;
  width: 32px;
}
.feedback-navigation .swiper-nav-button{
  display: block;
}
.feedback-navigation .swiper-button-disabled{
  opacity: 0.5;
  cursor: default;
}

.feedback-navigation .swiper-pagination-bullet{
  background-color: #CEE1FB;
  margin: 0 5px;
  opacity: 1;
  -webkit-transition: width var(--time);
  -o-transition: width var(--time);
  transition: width var(--time);
}
.feedback-navigation .swiper-pagination-bullet-active{
  background-color: var(--primaryBlue);
  border-radius: 5px;
  width: 20px;
}
.blog-section{
  background-image: url('../images/pattern.svg'), url('../images/vector2.svg');
  background-size: auto;
  background-position: 50px 130px, 100% center;
  background-repeat: no-repeat;
}
.blog-group{
  padding: 30px 0;
}

.blog-item{
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}
.blog-item .blog-image{
  padding-bottom: 60%;
}
.blog-item .blog-body{
  padding: 30px 35px;
}
.blog-item .blog-title{
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 15px;
}
.blog-item .blog-text{
  line-height: 28px;
  margin-bottom: 30px;
  color: var(--secondaryColor);
}
.blog-item .blog-link{
  color: var(--primaryBlue);
  font-weight: 500;
  font-size: 17px;
}
.blog-item .blog-link img{
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform var(--time);
  transition: -webkit-transform var(--time);
  -o-transition: transform var(--time);
  transition: transform var(--time);
  transition: transform var(--time), -webkit-transform var(--time);
}


.footer{
  background-image: url('../images/pattern2.svg'), -o-linear-gradient(75deg, #5A98F2, #67C3F3);
  background-image: url('../images/pattern2.svg'), linear-gradient(15deg, #5A98F2, #67C3F3);
  background-size: auto;
  background-position: -25px calc(100% + 20px), 0;
  background-repeat: no-repeat;
}
.footer .footer-title{
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}

.footer .footer-link{
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  left: 0;
  -webkit-transition: left var(--time);
  -o-transition: left var(--time);
  transition: left var(--time);
}

.upBtn{
  position: fixed;
  z-index: 9;
  bottom: 15px;
  right: 15px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  color: var(--primaryBlue);
  border: 2px solid var(--primaryBlue);
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}
.upBtn img{
  display: inline-block;
  width: 15px;
}


/*Media*/

/*For animation*/
@media (min-width: 768px){
  .button-animated:hover{
    -webkit-animation: puls 0.4s forwards;
            animation: puls 0.4s forwards;
    -webkit-box-shadow: 0 0 0 rgba(69,143,246, 0.6);
            box-shadow: 0 0 0 rgba(69,143,246, 0.6);
  }
  header .menu-link:hover{
    opacity: 1;
  }
  .blog-item .blog-link:hover img{
    -webkit-transform: translateX(3px);
        -ms-transform: translateX(3px);
            transform: translateX(3px);
  }
  .footer .footer-link:hover{
    left: 2px;
  }
}

@media (min-width: 992px){
  .info-row:nth-child(2n) > .row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .no-bg-md{
    background: none !important;
  }
  .main-banner .banner-box{
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .info-image img {
    max-width: 400px;
  }
  .blog-group > div{
    margin-bottom: 30px;
  }
  .feedback-slider {
    padding: 30px;
  }
  .feedback-item .feedback-user{
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback-item .feedback-text {
    text-align: center;
  }
  .footer .footer-row > div {
    margin-bottom: 30px;
  }
}

/*Sidebar and fixed header*/
@media (max-width: 767px){
  
  .title{
    font-size: 30px;
    line-height: 40px;
  }
  body{
    background-color: #fefeff !important;
  }

  .header .header-menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: rgba(69,143,246, 0.9);
    -webkit-transition: -webkit-transform var(--time);
    transition: -webkit-transform var(--time);
    -o-transition: transform var(--time);
    transition: transform var(--time);
    transition: transform var(--time), -webkit-transform var(--time);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    padding: 30px 20px;
    z-index: 2;
  }
  .header .menu-link{
    color: #fff;
    opacity: 0.8;
    padding: 5px 0;
    margin-bottom: 10px;
  }
  .header .hamburger{
    position: relative;
    height: 3px;
    width: 30px;
    background-color: var(--primaryBlue);
    cursor: pointer;
    border: 4px solid #fff;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .header .hamburger::before,
  .header .hamburger::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 30px;
    background-color: var(--primaryBlue);
    left: 0;
    top: -7px;
  }
  .header .hamburger::after{
    top: 7px;
  }
  .header .close-menu{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  .header .helper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    z-index: 1;
    -webkit-transition: opacity var(--time);
    -o-transition: opacity var(--time);
    transition: opacity var(--time);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
  }
  .header.active .header-menu{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header.active .helper{
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
  }
  .no-bg-xs{
    background: none !important;
  }
  
  .main-banner .banner-box{
    padding: 120px 0 50px;
  }
  .main-banner .banner-box h1 {
    font-size: 40px;
  }
  .feedback-slider{
    padding: 30px;
  }
  .feedback-item .feedback-user{
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback-item .feedback-text {
    text-align: center;
  }
  .info-image img{
    max-width: 80%;
    margin: auto;
  }
  .feedback-section .feedback-title{
    padding-left: 20px;
    padding-right: 20px;
  }
  .feedback-item .feedback-image{
    height: 100px;
    width: 100px;
  }
  .blog-group > div{
    margin-bottom: 30px;
  }
  .footer{
    background: -o-linear-gradient(75deg, #5A98F2, #67C3F3);
    background: linear-gradient(15deg, #5A98F2, #67C3F3);
    background-repeat: no-repeat;
  }
  .footer .footer-row > div{
    margin-bottom: 30px;
  }
}